In [292]:
import pandas as pd
import numpy as np

In [322]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')


#Show the DataFrame shape

file1.shape
file2.shape
file3.shape

(7070, 11)

In [296]:
#Standardize header names

file1=file1.rename({'ST': 'State', 'GENDER':'Gender'}, axis=1)
file2=file2.rename({'ST': 'State', 'GENDER':'Gender'}, axis=1)

In [321]:
#Rearrange the columns in the dataframe as needed
file1_ordered=file1.loc[:, file1.columns.sort_values()]
file2_ordered=file2.loc[:, file2.columns.sort_values()]

In [298]:
#Concatenate the three dataframes
files = pd.concat([file1, file2, file3], axis=0)

In [323]:
#Which columns are numerical
file1.select_dtypes(include=np.number)
file2.select_dtypes(include=np.number)
file3.select_dtypes(include=np.number)


#Which columns are categorical
file1.select_dtypes(include=['object'])
file2.select_dtypes(include=['object'])
file3.select_dtypes(include=['object'])


# Delete the column education and the number of open complaints from the dataframe
file1.drop(['Education','Number of Open Complaints'],axis=1, inplace=False)


#Correct the values in the column customer lifetime value. 
#They are given as a percent, so multiply them by 100 and change dtype to numerical type

file1['Customer Lifetime Value'] = file1['Customer Lifetime Value'].str.replace('[%]', '',regex=True)
file1['Customer Lifetime Value'] = file1['Customer Lifetime Value'].fillna(0)
file1['Customer Lifetime Value'] = pd.to_numeric(file1['Customer Lifetime Value'])
file1['Customer Lifetime Value']=file1['Customer Lifetime Value']*100

In [316]:
# Check for duplicate rows in the data and remove if any.

file1.drop_duplicates(inplace=True)

In [326]:
# Filter out the data for customers who have an income of 0 or less

file1_filtered = file1['Customer'][file1['Income']<=0]